{% extends 'main/base.html' %}

    {% block content %}
        {% for object in object_list %}
          <div class="col">
            <div class="card shadow-sm">
              <div class="card-body">
                <p class="card-text">{{ object.name }}</p>
                <div class="d-flex justify-content-between align-items-center">
                  {% if user.is_authenticated %}
                      <div class="btn-group">
                        <a href="{% url 'main:survey_detail' object.pk %}" type="button" class="btn btn-sm btn-outline-secondary">Пройти опрос</a>
                      </div>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        {% endfor %}
    {% endblock %}